/* Bootstrap Style Sheet */
@import url(../bootstrap/dist/css/bootstrap.css);

:root {
    font-size: 12px;
    line-height: 1.5px;
    --primary: #5777ba;
    --dark: #47536e;
    --lblue: #0d6efd;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: black;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: lightblue;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: .5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.section-title {
    text-align: center;
    padding: 1em;
    margin-bottom: 1.5em;
}

.section-title h2 {
    color: var(--primary);
    font-size: 2.8rem;
}


.section-title p {
    color: var(--dark);
    font-size: 1.2rem;
}

[type="submit"]:active {
    transform: scale(.8);
}
