@media screen and ( max-width: 425px ) {

     /* Override Global */

     :root {
        font-size: 6px !important;
    }

    /* Override Utilities */
    .container {
        max-width: unset !important;
        width: 95vw !important;
    }

    .row {
        grid-template-columns: 1fr !important;
    }

    .pricing .row {
        grid-template-columns: 80% !important;
    }

    /* ==== Header Section ====== */

    header .navbar .nav-link-container {
        width: 70vw !important;
        gap: 1.2em !important;
        padding-top: 2em !important;
    }

    /* ==== Hero Section ====== */

    #hero {
        position: relative !important;
    }

    #hero::before {
        display: none !important;
    }

    #hero .row > .col-lg-6.order-1 > div {
        padding: 1em !important;
        padding-top: 2em !important;
    }

    .col-lg-6.order-1 h1 {
        margin-top: 0em !important;
    }

    #hero .container .row .col-lg-6.order-1 #google-play {
        margin-left: 12vw;
    }

    /* ==== Features Section ====== */

    .features .row.no-gutters .col-xl-7 {
        flex: 1 !important;
    }

    .features .row.no-gutters .col-xl-5 {
        flex: 0 !important;
        display: none !important;
    }

    .row.no-gutters .col-md-6.icon-box {
        flex-direction: column;
    }

    /* ==== Gallery Section ====== */

    .gallery .container {
        flex-direction: column;
    }

    .gallery .container .section-title {
        margin-bottom: 0em !important;
        justify-content: unset !important;
        gap: .5em;
        height: 23vh !important;
    }

    /* ==== Testimonial Section ====== */

    #testimonials.testimonials {
        height: 83vh !important;
    }

    .swiper-pagination-btn {
        width: 8px;
    }

    #swiper-pagination-btn-1 {
        left: 40% !important;
    }
    
    #swiper-pagination-btn-2.swiper-pagination-btn {
        left: 45% !important;
    }

    #swiper-pagination-btn-3.swiper-pagination-btn {
        left: 50% !important;
    }

    #swiper-pagination-btn-4.swiper-pagination-btn {
        left: 55% !important;
    }

    #swiper-pagination-btn-5.swiper-pagination-btn {
        left: 60% !important;
    }

    .swiper-pagination-btn-active {
        width: 12px !important;
    }

    .testimonials .container {
        padding-top: 1em;
        gap: 0em !important;
    }

    .section-title {
        margin-bottom: 0em;
    }

    .testimonials .testimonials-slider.swiper {
        height: fit-content !important;
    }

    .testimonials .swiper-slide .testimonial-item {
        height: fit-content !important;
    }

    /* ==== FAQ Section ====== */

    .faq .container .accordion-list ul {
        width: 100% !important;
        padding-left: 0em;
    }

    /* ==== Contact Section ====== */

    .contact {
        padding-bottom: 0em !important;
        height: 197vh !important;
    }

    #contact.contact .container {
        height: unset !important;
        max-height: 45vh !important;
    }

    #contact.contact .container > .row > .col-lg-6:nth-child(2) {
        padding: 0em !important;
        margin: auto !important;
        margin-top: 0em !important;
    }

    /* ==== Footer Section ====== */

    footer#footer .footer-newsletter .container {
        max-width: unset;
        width: 100% !important;
    }

    footer .footer-top .container .row  {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) !important;
    }
    
    footer .footer-top .container .row .col-lg-3 {
        grid-column: span 1;
        grid-row: span 1;
    }

    footer > .container {
        flex-direction: column;
        font-size: small;
    }

}

@media screen and (max-width: 393px) {

    /* ==== Hero Section ====== */

    #hero .container .row .col-lg-6.order-1 {
        /* width: 75vw !important;
        height: 28vh !important; */
        padding: 0em;
        /* margin-left: 31.5vw; */
    }

    /* ==== Details Section ====== */

    .container .row.content {
        flex-direction: column;
    }
    
    .row.content .col-md-4 {
        flex: 1;
        width: 50% !important;
        height: 50% !important;
    }
    
    .row.content .col-md-8 {
        flex: 1;
    }
    
    .container .row.content .col-md-8 h3 {
        font-size: 2rem !important;
    }

    /* ==== Pricing Section ====== */

    #pricing-container.row.no-gutters.pricing-container {
        width: 100%;
        height: fit-content !important;
    }

    .contact .container > .row {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(200px, auto) minmax(200px, auto);
        gap: 1em;
    }

    .contact .container > .row > .col-lg-6 {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }
    
    .contact .container > .row > .col-lg-6 > .row,
    .contact .container > .row > .col-lg-6 > form {
        width: 56% !important;
        margin-left: unset !important;
        margin: auto !important;
    }

    .contact .container > .row > .col-lg-6 > .row .info {
        padding-top: 2em !important;
    }

    .contact .container > .row > .col-lg-6 > .row {
        grid-template-rows: 200px 200px 200px 200px;
        width: 100%;
        height: 100%;
        gap: .1em;
    }

    .contact .container > .row > .col-lg-6 > .row .info {
        grid-column: span 12 !important;
    }

    /* ==== Footer Section ====== */

    footer .footer-newsletter {
        padding: 2em 0em !important;
    }

    footer > .container {
        flex-direction: column;
        padding-left: 1em !important; 
    }

}

@media screen and (max-width: 375px) {

    /* ==== Hero Section ====== */

    #hero .container .row .col-lg-6.order-1 {
        /* height: 33vh !important; */
    }

}

@media screen and (max-width: 280px) {

    /* ==== Hero Section ====== */

    #hero .container .row .col-lg-6.order-1 {
        /* width: 100vw !important; */
        /* height: 100vh !important; */
        /* padding-top: 20em !important; */
        margin-left: 0vw !important;
        /* grid-column: 1 / -1 !important; */
    }

}



